<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/admin-head', {title: "Registrations - Admin Panel"}) %>
        <title>Registration - Admin Panel</title>
    </head>
    <body>
        <%- include('../partials/admin-sidebar') %>

        <div class="main-content">
            <h2>Registration</h2>
            <p>List of company registrations:</p>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Company Name</th>
                        <th>Contact Person</th>
                        <th>Position</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th colspan="2" style="text-align: center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < companyRegistrations.length; i++ ) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= companyRegistrations[i]["companyName"] %></td>
                        <td><%= companyRegistrations[i]["fullName"] %></td>
                        <td><%= companyRegistrations[i]["currentPosition"] %></td>
                        <td><%= companyRegistrations[i]["email"] %></td>
                        <td><%= companyRegistrations[i]["phoneNumber"] %></td>
                        <td style="text-align: center">
                            <button class="btn btn-success btn-sm" id="<%= companyRegistrations[i]["_id"] %>" onclick="handleDone(this.id)">Done</button>
                        <td style="text-align: center">
                            <button class="btn btn-danger btn-sm" id="<%= companyRegistrations[i]["_id"] %>" onclick="handleDelete(this.id)">Delete</button>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <script>
            const handleDelete = (id) => {                
                agree = confirm("Are you sure you want to delete this registration?");
                if (agree) {
                    fetch("/admin/registrations/delete", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ id }),
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            if (data.success) {
                                alert("Registration deleted successfully");
                                window.location.reload();
                            } else {
                                alert("Failed to delete registration");
                            }
                        });
                }
            };
            const handleDone = (id) => {
                agree = confirm("Are you sure you want to approve this registration?");
                if (agree) {
                    fetch("/admin/registrations/done", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ id }),
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            if (data.success) {
                                alert("Registration approved successfully");
                                window.location.reload();
                            } else {
                                alert("Failed to approve registration");
                            }
                        });
                }
            };
        </script>
    </body>
</html>
