<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/admin-head', {title: "Registrations - Admin Panel"}) %>
        <title>Registration - Admin Panel</title>
    </head>
    <body>
        <%- include('../partials/admin-sidebar') %>

        <div class="main-content">
            <h2>Registration</h2>
            <p>List of company registrations:</p>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Company Name</th>
                        <th>Contact Person</th>
                        <th>Position</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th colspan="2" style="text-align: center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < companyRegistrations.length; i++ ) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= companyRegistrations[i]["companyName"] %></td>
                        <td><%= companyRegistrations[i]["fullName"] %></td>
                        <td><%= companyRegistrations[i]["currentPosition"] %></td>
                        <td><%= companyRegistrations[i]["email"] %></td>
                        <td><%= companyRegistrations[i]["phoneNumber"] %></td>
                        <td style="text-align: center">
                            <button class="btn btn-success btn-sm" id="<%= companyRegistrations[i]["_id"] %>" onclick="handleDone(this.id)">Done</button>
                        <td style="text-align: center">
                            <button class="btn btn-danger btn-sm" id="<%= companyRegistrations[i]["_id"] %>" onclick="handleDelete(this.id)">Delete</button>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.min.js"></script>
        <script>
            const handleDelete = (id) => {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "This action cannot be undone!",
                    icon: 'warning',
                    showCancelButton: true, // Hiển thị nút Cancel
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true // Đảo ngược vị trí của các nút
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.close(); // Đóng popup
                        Swal.fire({
                            title: 'Đang xóa...',
                            html: 'Vui lòng đợi trong giây lát...',
                            allowOutsideClick: false,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        });
                        fetch("/admin/registrations/delete", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ id }),
                        }).then((response) => {
                                return response.json();
                            })
                            .then((data) => {
                                Swal.close();
                                if (data.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Thành công!",
                                        text: "Xóa thành công đơn đăng ký!",
                                        showConfirmButton: false,
                                        timer: 1500,
                                    }).then(() => {
                                        window.location.href = "/admin/registrations"; 
                                    });
                                } else {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Lỗi",
                                        text: "Xóa thất bại. Vui lòng thử lại!",
                                        showConfirmButton: true,
                                    });
                                }
                            });
                    } else if (result.isDenied) {
                      Swal.fire('Changes are not saved', '', 'info')
                    }
                  });              
            };
            const handleDone = (id) => {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "This action cannot be undone!",
                    icon: 'warning',
                    showCancelButton: true, // Hiển thị nút Cancel
                    confirmButtonText: 'Yes, approve it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true // Đảo ngược vị trí của các nút
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.close(); // Đóng popup
                        Swal.fire({
                            title: 'Đang xóa...',
                            html: 'Vui lòng đợi trong giây lát...',
                            allowOutsideClick: false,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        });
                        fetch("/admin/registrations/done", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ id }),
                        }).then((response) => {
                                return response.json();
                            })
                            .then((data) => {
                                Swal.close();
                                if (data.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Thành công!",
                                        text: "Phê duyệt thành công công ty!",
                                        showConfirmButton: false,
                                        timer: 1500,
                                    }).then(() => {
                                        window.location.href = "/admin/registrations"; 
                                    });
                                } else {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Lỗi",
                                        text: "Phê duyệt thất bại. Vui lòng thử lại!",
                                        showConfirmButton: true,
                                    });
                                }
                            });
                    } else if (result.isDenied) {
                      Swal.fire('Changes are not saved', '', 'info')
                    }
                  });
            };
        </script>
    </body>
</html>
