<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/admin-head',{title: "Statistics - Admin Panel"}) %>
    </head>
    <body>
        <%- include('../partials/admin-sidebar') %>

        <div class="main-content">
            <h2>Statistics</h2>
            <p>Here are the statistics details for your website...</p>
            <ul>
                <li>Number of Users: <%= totalUsers %></li>
                <li>Number of Companies: <%= totalCompanies %></li>
                <li>Registrations Received: <%= totalRegistrations %></li>
            </ul>
        </div>
    </body>
</html>
